.App {
  text-align: center;
}

.character {
  border: 1px solid black;
  margin: 10px auto;
}
.charactersList {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.avatar {
  width: 100%;
}

@media only screen and (min-width: 950px) {
  .character {
    max-width: 20%;
  }
}

@media only screen and (min-width: 1520px) {
  .character {
    max-width: 17%;
  }
}
@media only screen and (min-width: 1800px) {
  .character {
    max-width: 13%;
  }
}
@media only screen and (max-width: 950px) {
  .character {
    max-width: 38%;
  }
}

@media only screen and (max-width: 550px) {
  .character {
    width: 100%;
    max-width: 85%;
  }
}
